# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [234]:
import pandas as pd
import datetime
import os
import pandas_datareader.data as web
import numpy as np

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [235]:
start_date = datetime.datetime(2015, 1, 1)
end_date = datetime.datetime.now()
start_date

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [236]:
df_apple = web.DataReader('AAPL', 'av-daily', start=start_date, end=end_date,  api_key=os.getenv('ALPHAVANTAGE_API_KEY'))
df_apple

               open     high      low   close    volume
2015-01-02  111.390  111.440  107.350  109.33  53204626
2015-01-05  108.290  108.650  105.410  106.25  64285491
2015-01-06  106.540  107.430  104.630  106.26  65797116
2015-01-07  107.200  108.200  106.695  107.75  40105934
2015-01-08  109.230  112.150  108.700  111.89  59364547
...             ...      ...      ...     ...       ...
2022-09-01  156.640  158.420  154.670  157.96  74229896
2022-09-02  159.750  160.362  154.965  155.81  76957768
2022-09-06  156.470  157.090  153.690  154.53  73295539
2022-09-07  154.825  156.670  153.610  155.96  87449574
2022-09-08  154.640  156.360  152.680  154.46  84923847

[1935 rows x 5 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [237]:
df_apple['stock'] = 'AAPL'
df_apple

               open     high      low   close    volume stock
2015-01-02  111.390  111.440  107.350  109.33  53204626  AAPL
2015-01-05  108.290  108.650  105.410  106.25  64285491  AAPL
2015-01-06  106.540  107.430  104.630  106.26  65797116  AAPL
2015-01-07  107.200  108.200  106.695  107.75  40105934  AAPL
2015-01-08  109.230  112.150  108.700  111.89  59364547  AAPL
...             ...      ...      ...     ...       ...   ...
2022-09-01  156.640  158.420  154.670  157.96  74229896  AAPL
2022-09-02  159.750  160.362  154.965  155.81  76957768  AAPL
2022-09-06  156.470  157.090  153.690  154.53  73295539  AAPL
2022-09-07  154.825  156.670  153.610  155.96  87449574  AAPL
2022-09-08  154.640  156.360  152.680  154.46  84923847  AAPL

[1935 rows x 6 columns]

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [238]:
df_tesla = web.DataReader('TSLA', 'av-daily', start=start_date, end=end_date,  api_key=os.getenv('ALPHAVANTAGE_API_KEY'))
df_tesla['stock'] = 'TSLA'
df_IBM = web.DataReader('IBM', 'av-daily', start=start_date, end=end_date,  api_key=os.getenv('ALPHAVANTAGE_API_KEY'))
df_IBM['stock'] = 'IBM'
df_microsoft= web.DataReader('MSFT', 'av-daily', start=start_date, end=end_date,  api_key=os.getenv('ALPHAVANTAGE_API_KEY'))
df_microsoft['stock'] = 'MSFT'

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [239]:
df = pd.concat([df_apple, df_tesla, df_IBM, df_microsoft])
df

               open    high      low   close    volume stock
2015-01-02  111.390  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.290  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.540  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.200  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.230  112.15  108.700  111.89  59364547  AAPL
...             ...     ...      ...     ...       ...   ...
2022-09-01  258.870  260.89  255.410  260.40  23263431  MSFT
2022-09-02  261.695  264.74  254.470  256.06  22855380  MSFT
2022-09-06  256.200  257.83  251.940  253.25  21283869  MSFT
2022-09-07  254.700  258.83  253.220  258.09  24126700  MSFT
2022-09-08  257.510  260.43  254.790  258.52  20319911  MSFT

[7740 rows x 6 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [240]:
df.set_index(['stock'], append=True, inplace=True)
df

                     open    high      low   close    volume
           stock
2015-01-02 AAPL   111.390  111.44  107.350  109.33  53204626
2015-01-05 AAPL   108.290  108.65  105.410  106.25  64285491
2015-01-06 AAPL   106.540  107.43  104.630  106.26  65797116
2015-01-07 AAPL   107.200  108.20  106.695  107.75  40105934
2015-01-08 AAPL   109.230  112.15  108.700  111.89  59364547
...                   ...     ...      ...     ...       ...
2022-09-01 MSFT   258.870  260.89  255.410  260.40  23263431
2022-09-02 MSFT   261.695  264.74  254.470  256.06  22855380
2022-09-06 MSFT   256.200  257.83  251.940  253.25  21283869
2022-09-07 MSFT   254.700  258.83  253.220  258.09  24126700
2022-09-08 MSFT   257.510  260.43  254.790  258.52  20319911

[7740 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [241]:
vol = df[['volume']].copy()
vol

                    volume
           stock
2015-01-02 AAPL   53204626
2015-01-05 AAPL   64285491
2015-01-06 AAPL   65797116
2015-01-07 AAPL   40105934
2015-01-08 AAPL   59364547
...                    ...
2022-09-01 MSFT   23263431
2022-09-02 MSFT   22855380
2022-09-06 MSFT   21283869
2022-09-07 MSFT   24126700
2022-09-08 MSFT   20319911

[7740 rows x 1 columns]

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

vol.loc[2018-12-31] даст 2019 год и первую рабочую неделю (ISO dates are defined a little differently than you might expect (explained [here](http://en.wikipedia.org/wiki/ISO_week_date)))
Источник: [1](https://stackoverflow.com/a/72095463), [2](https://stackoverflow.com/a/12662547)

In [242]:
vol.index = vol.index.set_levels([pd.to_datetime(vol.index.levels[0]), vol.index.levels[1]])
vol[['week', 'year']] = vol.index.get_level_values(0).isocalendar()[['week', 'year']].values  # vol.loc[2018-12-31] даст 2019 год и первую рабочую неделю (ISO dates are defined a little differently than you might expect (explained here))
pt_vol = pd.pivot_table(vol, values='volume', index=['year', 'week'], columns=['stock'], aggfunc=np.sum)
pt_vol

stock           AAPL       IBM       MSFT       TSLA
year week
2015 1      53204626   5525341   27913852    4764443
     2     282868187  24440360  158596624   22622034
     3     304226647  23272056  157088136   30799137
     4     198737041  31230797  137352632   16215501
     5     465842684  32927307  437786778   15720217
...              ...       ...        ...        ...
2022 32    318856922  17254110  109536514  143447053
     33    322647151  17105977   92198119  118385794
     34    307194601  16982107  104858212  169020694
     35    389809404  15086608  113799087  249374939
     36    245668960   8711469   65730480  159347287

[402 rows x 4 columns]

### Step 9. Find all the volume traded in the year of 2015

In [243]:
(pt_vol.groupby(level=0).sum()).loc[[2015]]

stock         AAPL         IBM        MSFT        TSLA
year
2015   13064316775  1105545521  9057582311  1086708380

In [244]:
pt_vol.loc[[2015]].sum()

stock
AAPL    13064316775
IBM      1105545521
MSFT     9057582311
TSLA     1086708380
dtype: int64