# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [3]:
import random

import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [11]:
df1 = pd.Series(np.random.randint(1, 5, size=100))
df2 = pd.Series(np.random.randint(1, 4, size=100))
df3 = pd.Series(np.random.randint(10000, 30000, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [16]:
df = pd.concat([df1, df2, df3], axis=1)
df

    0  1      2
0   3  1  21105
1   2  3  11457
2   4  3  25275
3   4  2  15507
4   4  3  20216
.. .. ..    ...
95  4  3  11536
96  3  2  25798
97  1  1  14804
98  3  1  16402
99  3  2  27322

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [19]:
df.rename(columns={0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
df

    bedrs  bathrs  price_sqr_meter
0       3       1            21105
1       2       3            11457
2       4       3            25275
3       4       2            15507
4       4       3            20216
..    ...     ...              ...
95      4       3            11536
96      3       2            25798
97      1       1            14804
98      3       1            16402
99      3       2            27322

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [22]:
bigcolumn = pd.concat([df1, df2, df3])
bigcolumn

0         3
1         2
2         4
3         4
4         4
      ...
95    11536
96    25798
97    14804
98    16402
99    27322
Length: 300, dtype: int64

### Step 6. Oops, it seems it is going only until index 99. Is it true?
### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [27]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

0          3
1          2
2          4
3          4
4          4
       ...
295    11536
296    25798
297    14804
298    16402
299    27322
Length: 300, dtype: int64