# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [41]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [42]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [43]:
cars1.drop(columns=['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], inplace=True)
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [44]:
print(cars1.shape[0])
print(cars2.shape[0])

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [45]:
cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [46]:
owners = np.random.randint(15000, 73001, cars.shape[0])
owners

array([21423, 25380, 20686, 65936, 35665, 27648, 38046, 16017, 17781,
       59455, 28552, 36890, 17117, 23747, 15633, 69858, 52483, 45340,
       19844, 52924, 33663, 34291, 60120, 49553, 58976, 15965, 69167,
       25457, 28271, 23952, 72405, 56099, 41949, 32542, 22719, 64059,
       56156, 52302, 41485, 29908, 49780, 18673, 57284, 63022, 45967,
       66499, 32720, 55861, 49259, 63053, 56975, 62945, 59248, 56751,
       45345, 45542, 72657, 32347, 22402, 34804, 25579, 28836, 47160,
       54107, 40585, 36588, 59131, 58363, 43231, 48477, 65010, 51184,
       28289, 33976, 64039, 70150, 22336, 21309, 31265, 42732, 20111,
       63524, 38440, 16700, 43562, 59822, 64632, 21023, 52833, 29569,
       45631, 69606, 53314, 67242, 45016, 38470, 50386, 55689, 72902,
       52970, 20018, 53850, 43532, 56728, 55254, 60901, 22986, 32439,
       49238, 61429, 61749, 33371, 71835, 33335, 52017, 52514, 55726,
       23342, 68210, 36219, 22123, 24244, 51894, 37779, 52155, 19808,
       15422, 48150, 32135, 19824, 35450, 15851, 55159, 42802, 24513,
       60226, 44943, 38633, 23110, 59074, 71042, 34950, 32249, 68330,
       28091, 53559, 67437, 62016, 20525, 71372, 33684, 60163, 17868,
       63895, 24918, 55070, 50901, 37876, 49737, 33973, 65834, 42162,
       42266, 50543, 58594, 33162, 28111, 60016, 64345, 71538, 49914,
       25841, 56785, 62157, 60036, 61709, 30224, 47974, 54970, 48255,
       47620, 42069, 41032, 41834, 55335, 64123, 65365, 51816, 47973,
       38101, 17295, 53695, 27059, 58135, 54077, 53695, 43962, 43622,
       63003, 40201, 39840, 46848, 18467, 20243, 56470, 32166, 70006,
       63356, 63360, 71492, 44615, 31425, 68772, 44981, 15922, 46103,
       15619, 19976, 19150, 17844, 68430, 69791, 22657, 33440, 26270,
       32943, 26132, 46354, 31631, 41249, 17787, 47759, 53421, 26945,
       67807, 19346, 56310, 24913, 61060, 44879, 21735, 38966, 46607,
       65269, 32597, 29508, 54979, 32005, 18880, 49342, 29677, 55723,
       44710, 27312, 68561, 53678, 68478, 46593, 30154, 53062, 54805,
       44669, 36305, 65561, 58853, 21020, 69385, 51965, 43709, 59997,
       32609, 70599, 64813, 65118, 44774, 22898, 49322, 15487, 50309,
       45581, 17518, 68690, 28923, 18616, 40490, 44603, 18181, 30005,
       29884, 21080, 55839, 43284, 57892, 26671, 69598, 44933, 44463,
       69825, 58203, 34232, 59743, 51306, 66967, 69288, 26491, 32822,
       59918, 33501, 20720, 30759, 48969, 45954, 51000, 43727, 33786,
       25042, 50885, 49923, 21026, 54339, 51479, 20308, 45398, 33380,
       71271, 36516, 30449, 57979, 51099, 26402, 18982, 43571, 52816,
       29741, 15910, 26849, 35104, 66979, 25290, 38517, 54986, 26160,
       47611, 30388, 49583, 33670, 23679, 43883, 33120, 66155, 28060,
       61473, 48429, 32426, 30780, 40584, 28952, 28766, 40990, 71957,
       27475, 67407, 30901, 58616, 20669, 60397, 64056, 29154, 57490,
       49080, 72730, 37887, 70661, 62468, 22342, 71866, 57225, 49955,
       64012, 22270, 40155, 61425, 19064, 53796, 34795, 44879, 20433,
       36653, 57760, 66830, 53077, 36884, 40214, 55977, 54567, 22565,
       69906, 37369])

### Step 8. Add the column owners to cars

In [47]:
cars['owners'] = owners
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,21423
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,25380
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,20686
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,65936
4,17.0,8,302,140,3449,10.5,70,1,ford torino,35665
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,55977
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,54567
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,22565
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,69906
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,37369